@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border: 1px solid rgba(128, 128, 128, 0.575);
  padding: 4px;
}

select {
  border: 1px solid rgba(128, 128, 128, 0.575);
  padding: 4px;
}

@media print {
  /* Adjust page layout to horizontal */
  @page {
    size: landscape;
    margin: 1cm;
  }

  /* Reduce font size for better readability */
  body {
    font-size: 10px; /* Decrease font size */
  }

  /* Make sure the table fits within the page width */
  table {
    width: 100%;
    table-layout: fixed; /* Prevent columns from overflowing */
  }

  /* Hide the last column */
  .last-column {
    display: none; /* Hide last column for printing */
  }

  input,
  button {
    display: none; /* Hide buttons for printing */
  }

  /* Adjust column width to squeeze 7 columns */
  th,
  td {
    padding: 5px;
    word-wrap: break-word;
  }
  td {
    font-size: 12px; /* Adjust to make the text small */
    word-wrap: break-word; /* Break long words to fit in the cell */
    white-space: normal; /* Allow text to wrap */
    overflow: hidden; /* Hide overflow */
  }

  /* Prevent overflow and add page breaks if needed */
  .no-break {
    page-break-inside: avoid;
  }

  /* Optionally, apply border adjustments to make content more compact */
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
}
